
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 *{margin: 0;
    padding: 0;
} 


main {
  background: url("assets/hero-bg.png");
background-repeat: no-repeat;
max-width: 1600px;
width: 100%;
height: 674px;
/* margin-top: 34px; */
display: flex;
justify-content: center;
background-size: cover;
margin: 0px;
}

.btn:hover{

    background-color: rgb(247, 51, 51);
}
header nav{
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    height: 92px;
    width: 85%;
    margin: 0 auto;
}
nav #menu{
    list-style-type: none;
    gap: 32px;
    display: flex;
    margin-top: 34px;

}
header nav #logo{
    width: 139px;
    height: 60px; 
    margin-top: 16px;

}
nav #menu a{
    font-size: 16px;
    font-weight: 500;
    font-family: Inter;
    text-decoration: none;
    color: black;
}
nav .btn{
    width: 164px;
    height: 44px;
    padding: 12.5px 16px;
    color: white;
    background-color: #30B868;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: none;

}
#access{
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    color: #30B868;
    background-color: white;
    /* border: 1px solid red; */
    border-radius: 50px;
    padding: 8px 22px 8px 3px;
    margin-left: 686.5px;
    margin-right: 685.5px;
    width: 220px;
    height: 19px;
    display:flex;
    justify-content: space-around;
    margin-top: 115.5px;
    
}

#white{
    color: white;

}
#green{
    color: #30B868;
}
.first-section h1{
    text-align: center;
    padding: 16px 370px;
    font-weight: 900;
    /* width: 770px; */
    /* height: 168px; */
    text-align: center;
    /* max-width: 750px; */


}
#description{
    text-align: center;
    /* color: white; */
    color:white;
    font-size: 18px;
    margin: 0 auto;
    line-height: 30px;
    font-family: Inter;
    /* line-height: 24; */
}
.first-section .hero-button{
    display: flex;
    gap: 16px;
    justify-content: center;
    /* font-weight:500 ; */
    /* border: none; */
}
.first-section .hero-button #button-1{
    background-color: #30B868;
    color: white;
    width: 252px;
    height: 52px;
    border: none;
        font-family: Inter;
                border-radius: 5px;
margin-top: 32px;
        font-weight: 500;
}
.first-section .hero-button #button-2{
    /* background-color: #30B868; */
    color: white;
    width: 198px;
    height: 52px;
    border: 2px solid white;
        font-family: Inter;
        font-weight: 500;
        background: transparent;
        border-radius: 5px;
        margin-top: 32px;


}
#button-1:hover{
    background-color: rgb(247, 51, 51);
}
#button-2:hover{
        background-color: rgb(247, 51, 51);

}
#white{
    font-weight: 700;
    font-family: Inter;
    font-size: 70px;
}
#green{
    font-weight: 700;
    font-family: Inter;
    font-size: 70px;
}
#second-section #heading{
    font-size: 48px;
    font-family: Inter;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 40px;
}
 #headind-comment{
    font-size: 16px;
    font-family: Inter;
    text-align: center;
    color: #627382;
    /* padding-top: 16px; */
     margin-top: 16px; 
}
#second-section .icon{
    background-color: #F95555;
    /* border: 0.5px solid blue; */
    height: 60px;
    width: 60px;
    border-radius: 100px;
     display: flex; 
     justify-content: center; 
    margin-top: 69.5px;
    margin-left: 131px;
    margin-right: 131px;
     
}
.icon #image{
    /* align-items: center; */
     /* display: flex;
    justify-content: space-between; */
    /* align-items: center; */
    margin: auto;
    width: 32px;
    height: 32px;
}
#second-section .info-box{
    border: 2px solid white;
    background-color: white;
    /* display: flex; */
    /* justify-content: space-between; */
    width: 322px;
    height:300px;
border-radius: 10px;
}
#second-section{
   margin: 0px auto;
    background-color:#ebe4e44e;
    /* width: 100%; */
     max-width: 1600px; 
    width: 100%;
    margin-top: 0px;
/* height: 448px; */
/* padding: 0px auto 0px; */

}

#second-section .all-box{
     display: flex; 
    justify-content: center;
    gap: 24px;
    margin-top: 44px;
    /* margin-left: 120px; */
    align-items: center;
    
}
#second-section .info-box h4{
    font-family: Inter;
    font-size: 24px;
    text-align: center;
}
#second-section .info-box p{
    font-family: Inter;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
    margin: 16px 24px 69.5px;
}
section{
    margin: 0;
    padding: 0;
    width: 100%;
}
.third-section .third-section-content{

display: flex;
justify-content: space-between;
margin: 120px;
gap: 60px;
font-family: Inter;

}
.third-section .third-section-content #brain{
    width: 600px;
    height: 600px;
    /* margin-left: 120px; */
    /* margin-top: 120px; */

}
.third-section .third-section-content p{
    font-size: 16px;
    font-family: Inter;
    line-height: 20px;
    color: #627382;
}
.third-section-content ul{
    list-style: none;
    margin-top: 40px;
    /* line-height: 20px; */



}
.third-section-content li{
    margin: 8px;
}
.third-section .third-section-content #second-brain{
 font-size: 48px;
 /* width: 700px; */
 /* height: 116px; */
 font-weight: bold;
 line-height: 50px;
 color: black;
 margin: 0 auto;
}
.third-section .third-section-content #pera{
    height: 116px;
    width: 700px;
}
.third-section .third-section-content h5{
    color: #469165;
    font-family: Inter;
    font-size: 16px;
}
.third-section .third-section-content #text{
    margin-top: 70px;
}
.third-section .third-section-content #para-2{
    line-height: 22px;
}

.forth-part{
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: #001931;
height: 348px;
}
footer #social-link{
    color: white;
     padding-top: 120px;
    padding-right: 227px;
    font-family: Inter;
    font-size: 20px;

}
footer img{
    padding-top: 120px;
    padding-left: 120px;
}
    /* color: white; */

 /* .forth-part #link-2 .circle{
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 100px; 
    gap: 16px;
    /* display: flex; */
    /* justify-content: center; */


.forth-part #social-link #link-2{
    display: flex;
    justify-content: center;
    /* background-color: white; */
    /* border: 1px solid red; */
}
#first-i{
    background-color: white;
     height: 25px;
    width: 25px;
    border: 1px solid white;
    border-radius: 100px;
    margin-top: 8px; 
    margin-right: 6px;

}
#second-i{
     background-color: white;
     height: 25px;
    width: 25px;
    border: 1px solid white;
    border-radius: 100px;
    margin-top: 8px; 
    margin-right: 6px;
    /* color: black; */

}
#third-i{
 background-color: white;
     height: 25px;
    width: 25px;
    border: 1px solid white;
    border-radius: 100px;
    margin-top: 8px; 
    /* margin-right: 6px; */

}
.link-2{
   /* margin: 200px; */
   /* border: 1px solid red; */
   display: flex;
   justify-content: space-evenly;
   /* color: black; */
}
.forth-part img{
    width: 139px;
    height: 60px;
}
footer u{
    width: 85%;
    color: #627382;
}
footer #copy{
    text-align: center;
    color: white;
    margin-top: 30px;
    font-family: Inter;
    font-size: 16px;
}
 footer hr{
    margin-top: 90px;
     margin-left: 120px; 
    margin-right: 120px; 
    width: 1200px;
    /* padding-left: 120px; */
    /* padding-right: 120px; */

}
#green-1{
    width: 16px;
    height: 16px;
    background-color: #469165ab;
    border-radius: 100px;
    margin-top: 2px;
    /* padding-left: 5px; */
    margin-left: 12px;
    /* margin-right: 20px; */
}
.forth-section h1{
    font-size: 40px;
    font-family: Inter;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 16px;

}
.forth-section #caption{
    color: #627382;
    font-size: 16px;
    font-family: Inter;
    text-align: center;
    line-height: 24px;
}
.forth-section .btn img{
    height: 20px;
    width: 20px;
    /* padding-right: 8px; */
    /* padding-top: 12px; */
    margin: 8px auto;
    padding-left: 5px;

}
.forth-section{
    /* background-color: #F7F6F2; */
    padding-top:0px ;
    /* padding: 0 auto; */
    /* margin: 120px 120px 120px; */
}

.forth-section .btn{
    /* background-color:#30B868;
    align-items: center;
    width: 194px;
    height: 52px;
    border: none;
    color: white; */
    width: 194px;
    height: 50px;
    padding: 12.5px 16px;
    color: white;
    background-color: #30B868;
    margin-top: 24px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: none;
    font-family: Inter;
    /* display: flex; */
     /* justify-content: center; */


}
.forth-section #section-content{
    background-color: #F7F6F2 ;
    margin: 0 auto;
    width: 85%;
    max-width: 1350PX;
    margin-bottom: 120px;
    border: 1px solid #F7F6F2;
    border-radius: 12px;

}
#btn-3{
    text-align: center;
}
.forth-section #last{
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    color: #627382;
    padding-bottom: 80px;
}
.btn:hover{
    background-color: #F95555;
}
